# Authentication API Key for Resend (Sending Emails)
# Get this from: https://resend.com/api-keys
RESEND_API_KEY=re_123456789

# Authentication token for Airtable
# Generate a Personal Access Token at: https://airtable.com/create/tokens
AIRTABLE_API_KEY=pat123456789.abc

# The Base ID for the Chapter Workspace in Airtable
# You can find the Base ID in the Airtable API documentation: https://airtable.com/api
AIRTABLE_BASE_ID=app123456789
